.cart-wrapper {
  min-height: 100vh;
}

.cart-bg {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #FFDA1A;
}

.cart-button-back {
  position: absolute;
  top: 2vh;
  left: 0;
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  color: rgba(0,0,0,.8);
}

.cart-main-container {
  top: 8vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top-right-radius: 50px;
}

.cart-title {
  font-weight: 500;
  color: rgba(0,0,0,.8);
}

.cart-position-number {
  font-weight: 400;
  font-size: 28px;
  color: rgba(0,0,0,.6);
}

.cart-position-container {
  border-top: 2px solid rgba(0,0,0,.8);
  border-bottom: 2px solid rgba(0,0,0,.8);
}

.cart-total-price-container {
  font-size: 23px;
  font-weight: 500;
  color: rgba(0,0,0,.7);
}

.cart-total-price {
  font-size: 27px;
  font-weight: bold;
  color: rgba(0,0,0,.9);
}