@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.container-main {
  background-color: #ffda1a;
  height: 100vh;
  width: 100vw;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.fadeNav-enter {
  opacity: 0;
}
.fadeNav-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.fadeNav-exit {
  opacity: 1;
}
.fadeNav-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-in;
}
